/**
 * @file _button.scss
 *   All styles that have to do with buttons on the site.
 */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
%button {
  font-family: $gotham;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.375em 0.625em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;

  color: guide-color($grey);
  @include text-shadow(1px 1px 0 rgba(guide-color($grey, 'highlight'), 0.5));

  &[disabled] {
    font-weight: 400;
    color: guide-color($grey, 'main', 5%);
    @include text-shadow(none);
  }

  background-color: guide-color($grey, 'bright');
  @include background-image(linear-gradient(
    guide-color($grey, 'bright', 5%),
    guide-color($grey, 'bright') 30%,
    guide-color($grey, 'bright') 70%,
    guide-color($grey, 'bright', -2.5%)
  ));

  @include border-radius(4px);
  border: {
    width: 1px 1px 3px 1px;
    style: solid;
    color: guide-color($grey, 'bright', -5%);
  }

  &:hover, &:focus {
    background-color: guide-color($grey, 'bright', 5%);
    @include background-image(linear-gradient(
      guide-color($grey, 'bright', 10%),
      guide-color($grey, 'bright', 5%) 30%,
      guide-color($grey, 'bright', 5%) 70%,
      guide-color($grey, 'bright')
    ));
    border-color: guide-color($grey, 'bright', -10%);
  }

  &[disabled], &[disabled]:hover {
    background-color: guide-color($grey, 'highlight', -10%);
    @include background-image(none);
    border-color: guide-color($grey, 'highlight', -12.5%);
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(guide-color($grey), 0.5));
  }
}

a.button {
  color: $white !important; // To override the :link, :visited, and :hover pseudo-elements
  text-decoration: none; // Yeah, no underlines on these links, but they look like buttons...
}

%btn-primary,
.btn-primary,
input.action-submit { // The input. is necissary here to override the above rules.
  background-color: guide-color($blue);
  @include background-image(linear-gradient(
    guide-color($blue, 'main', 5%),
    guide-color($blue) 30%,
    guide-color($blue) 70%,
    guide-color($blue, 'main', -2.5%)
  ));
  border-color: guide-color($blue, 'main', -5%);
  color: $white;
  @include text-shadow(1px 1px 0 guide-color($blue, 'dark'));

  &:hover, &:focus {
    border-color: guide-color($blue, 'main', -5%);
    background-color: guide-color($blue, 'main', 5%);
    @include background-image(linear-gradient(
      guide-color($blue, 'main', 10%),
      guide-color($blue, 'main', 5%) 30%,
      guide-color($blue, 'main', 5%) 70%,
      guide-color($blue)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix(guide-color($blue), guide-color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(guide-color($blue), guide-color($grey, 'bright')), 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(guide-color($blue), 0.5));
  }
}

%btn-negative,
.btn-negative,
form[id*="delete"] input.action-submit,
form[id*="redact"] input.action-submit,
input.action-delete {
  background-color: guide-color($red);
  @include background-image(linear-gradient(
    guide-color($red, 'main', 5%),
    guide-color($red) 30%,
    guide-color($red) 70%,
    guide-color($red, 'main', -2.5%)
  ));
  border-color: guide-color($red, 'main', -5%);
  color: $white;
  @include text-shadow(1px 1px 0 guide-color($red, 'dark'));

  &:hover, &:focus {
    border-color: guide-color($red, 'main', -5%);
    background-color: guide-color($red, 'main', 5%);
    @include background-image(linear-gradient(
      guide-color($red, 'main', 10%),
      guide-color($red, 'main', 5%) 30%,
      guide-color($red, 'main', 5%) 70%,
      guide-color($red)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix( guide-color($red), guide-color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(guide-color($red), guide-color($grey, 'bright')), 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(guide-color($red), 0.5));
  }
}

%btn-aux1,
.btn-aux1 {
  background-color: guide-color($purple);
  @include background-image(linear-gradient(
    guide-color($purple, 'main', 5%),
    guide-color($purple) 30%,
    guide-color($purple) 70%,
    guide-color($purple, 'main', -2.5%)
  ));
  border-color: guide-color($purple, 'main', -5%);
  color: $white;
  @include text-shadow(1px 1px 0 guide-color($purple, 'dark'));

  &:hover, &:focus {
    border-color: guide-color($purple, 'main', -5%);
    background-color: guide-color($purple, 'main', 5%);
    @include background-image(linear-gradient(
      guide-color($purple, 'main', 10%),
      guide-color($purple, 'main', 5%) 30%,
      guide-color($purple, 'main', 5%) 70%,
      guide-color($purple)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix( guide-color($purple), guide-color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(guide-color($purple), guide-color($grey, 'bright')), 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(guide-color($purple), 0.5));
  }
}

%btn-aux2,
.btn-aux2 {
  background-color: guide-color($orange);
  @include background-image(linear-gradient(
    guide-color($orange, 'main', 5%),
    guide-color($orange) 30%,
    guide-color($orange) 70%,
    guide-color($orange, 'main', -2.5%)
  ));
  border-color: guide-color($orange, 'main', -5%);
  color: $white;
  @include text-shadow(1px 1px 0 guide-color($orange, 'dark'));

  &:hover, &:focus {
    border-color: guide-color($orange, 'main', -5%);
    background-color: guide-color($orange, 'main', 5%);
    @include background-image(linear-gradient(
      guide-color($orange, 'main', 10%),
      guide-color($orange, 'main', 5%) 30%,
      guide-color($orange, 'main', 5%) 70%,
      guide-color($orange)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix( guide-color($orange), guide-color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(guide-color($orange), guide-color($grey, 'bright')), 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(guide-color($orange), 0.5));
  }
}

%btn-large,
.btn-large {
  font-size: 1.125em;
  padding: 0.5em 0.625em;
}

%btn-small,
.btn-small {
  font-size: 0.75em;
  font-weight: 400;
  padding: 0.375em;
}

%btn-multiline,
.btn-multiline {
  display: block;
  text-align: center;

  #{headings()} {
    color: inherit;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5em;
    text-transform: none;
    font-weight: 400;
    font-size: 0.875em;
    letter-spacing: 0;
  }
}
