/**
 * @file _footer.scss
 * The design for the footer partials.
 */

#footer {
  border-top: 2px solid guide-color($grey, main, 2.5%);

  .row-1 {
    font-size: 0.875em;
    color: guide-color($grey, highlight);
    background: {
      color: guide-color($grey, dark, 5%);
      image: image-url('textures/noise.png');
    }

    overflow: hidden; // Contain any margins of child elements
    border-bottom: 1px solid guide-color($red, dark, 5%);
  }

  .row-2 {
    font-size: 0.75em;
    color: guide-color($grey, highlight, -10%);
    border-top: 1px solid guide-color($grey, dark, -10%);
  }
}

