/**
 * @file _logo.scss.
 * The logo for the site.
 */

%logo {
  // The glow can't be an SVG, so we have to use the PNG, which is only this wide:
  max-width: 425px;
  display: block;

  .logo {
    margin: 0;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;

    height: 0;
    padding-bottom: (100/450) * 100%; // This is how intrinsic ratio works.

    background: {
      size: contain;
      position: center center;
      repeat: no-repeat;
    }
  }
}

.logo-primary {
  @extend %logo;

  #{nest('.no-js, .no-svg')} {
    background: {
      color: guide-color($red, 'dark');
      image: image-url('logos/logo-primary.png');
    }

    @include for-legacy-browser('ie', "6", "7", 1) {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif',sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif',sizingMethod='scale')";
    }

    @include respond-to('hi res') { background-image: image-url('logos/logo-primary-2x.png'); }
  }

  #{nest('.svg', '& .logo')} {
    background-color: guide-color($red, 'dark');
    background-image: image-url('logos/logo-primary.svg');
  }
}

.logo-alternate {
  @extend %logo;

  #{nest('.no-js, .no-svg')} {
    background: {
      color: guide-color($red, 'dark');
      image: image-url('logos/logo-alternate.png');
    }

    @include for-legacy-browser('ie', "6", "7", 1) {
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif',sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif',sizingMethod='scale')";
    }

    @include respond-to('hi res') { background-image: image-url('logos/logo-alternate-2x.png'); }
  }

  #{nest('.svg', '& .logo')} {
    background-color: guide-color($red, 'dark');
    background-image: image-url('logos/logo-alternate.svg');
  }
}

